{{ define "main" }}
<article>
  {{ partial "feature/hero.html" . }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 0 "end" 2) }}

  {{ partial "feature/cta.html" . }}

  {{ if .Params.topFeatures }}
    {{ partial "solution/feature-list.html" . }}
  {{ end }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 2 "end" (len .Params.features)) }}

  {{ partial "solution/feature-cards.html" . }}

  {{ if .Params.faq }}
    {{ partial "faq.html" . }}
  {{ end }}

  {{ partial "newsletter" . }}

</article>
{{ end }}
