{{ define "main" }}
<article>
  {{ partial "feature/hero.html" . }}

  {{ partial "index/features-3-cols-stripe.html" . }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 0 "end" 2) }}

  {{ partial "feature/cta.html" .Params.cta }}

  {{ if .Params.topFeatures }}
    {{ partial "solution/feature-list.html" . }}
  {{ end }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 2 "end" (len .Params.features)) }}

  {{ if .Params.featureCards }}
    {{ partial "solution/feature-cards.html" . }}
  {{ end }}

  {{ partial "newsletter" . }}

  {{ if .Params.faq }}
    {{ partial "faq.html" . }}
  {{ end }}

  {{ partial "feature/cta.html" .Site.Data.cta }}

</article>
{{ end }}

{{ define "scripts" }}
  {{ $js := resources.Get "js/scroll-reveal.js" }}
  {{ $js = $js | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
