@import './form.css';

/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#faq .btn-link {
    text-decoration: none;
    color: black;
}

#TableOfContents {
    @apply text-sm my-4 pt-4 pb-6 pl-4 bg-gray-50 dark:bg-gray-800 border rounded-lg
}

#TableOfContents::before {
    content: "Contents";
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

#TableOfContents ul, #TableOfContents li {
    @apply my-1 list-disc pl-0 ml-2
}

.text-highlight {
    @apply px-1 text-white bg-blue-600 rounded dark:bg-blue-500
}

.text-highlight-secondary {
    @apply px-1 text-white bg-amber-500 rounded dark:bg-yellow-300
}
