{{ $title := .Params.featureCards.title }}
{{ $description := .Params.featureCards.description }}
{{ $featureCards := .Params.featureCards.cards }}

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:py-24">
        <div class="grid items-center grid-cols-1 gap-12 xl:grid-cols-3 lg:gap-16">
            <div class="space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl dark:text-white">
                    {{ $title }}
                </h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">
                    {{ $description }}
                </p>
            </div>

            <div class="grid grid-cols-1 gap-x-8 gap-y-2 xl:col-span-2 sm:grid-cols-2">
                {{ range $index, $card := $featureCards }}
                <div class="hover:bg-gray-50 hover:shadow-lg my-4 p-6 rounded rounded-xl cursor-pointer">
                  <a href="{{ $card.url }}">
                    <div class="flex items-center justify-center w-12 h-12 rounded-lg bg-primary-100 dark:bg-primary-900">
                        {{ partial "components/icons.html" (dict "icon" $card.icon "class" "w-8 h-8 text-primary-700 dark:text-primary-400") }}
                    </div>
                    <h3 class="mt-5 text-xl font-bold dark:text-white">
                        {{ $card.title }}
                    </h3>
                    <p class="mt-2 text-gray-500 dark:text-gray-400">
                        {{ $card.description }}
                    </p>
                  </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
