{{ $page := . }}

<article class="max-w-xs">
    {{ $image := .Resources.GetMatch "cover.*" }}
    {{ if $image }}
    <a href="{{ $page.RelPermalink }}">
        <img src="{{ $image.RelPermalink }}" class="mb-5 rounded-lg" alt="Image">
    </a>
    {{ end }}
    <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ if not $image }}
    <p class="mb-4 text-gray-500 dark:text-gray-400">
        <a href="{{ .RelPermalink }}">{{ .Description | truncate 200 }}</a>
    </p>
    {{ end }}
    <a href="{{ .RelPermalink }}" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-700 dark:text-primary-500 hover:no-underline">
        {{$rt := .ReadingTime}}
        Read in {{ $rt }} minute{{ if gt $rt 1 }}s{{ end }}
    </a>
</article>
