{{ define "main" }}

  {{ partial "index/hero.html" . }}

  {{ partial "index/features-3-cols-icons.html" . }}

  <div class="hidden sm:block sm:pt-16">
    {{ partial "index/carousel.html" .Params.carousel }}
  </div>

  {{ partial "index/features-3-cols-stripe.html" . }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 0 "end" 2 "swapBackgrounds" false) }}

  {{ partial "index/solution-cols.html" .Params.solutionsCards }}

  {{ partial "index/feature-cards.html" .Params.featureCards }}

  {{ partial "solution/feature-list.html" . }}

  {{ if .Params.faq }}
      {{ partial "faq.html" . }}
  {{ end }}

  {{ partial "feature/cta.html" (index .Site.Data .Site.Language.Lang).cta }}

{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">
{{ end }}

{{ define "scripts" }}
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

  {{ $js := resources.Get "js/scroll-reveal.js" }}
  {{ $js = $js | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>

  <script type="text/javascript">
  if (window.location.pathname === '/') {
    const supportedLangs = [{{ range site.Languages }}"{{ .Lang }}",{{ end }}];
    const defaultLang = "{{ site.Home.Lang }}";
    const userLang = navigator.language || navigator.userLanguage;

    let targetLang = defaultLang;

    if (supportedLangs.includes(userLang)) {
      targetLang = userLang;
    } else {
      const langPrefix = userLang.split('-')[0];
      if (supportedLangs.includes(langPrefix)) {
        targetLang = langPrefix;
      }
    }

    if (targetLang !== defaultLang) {
      window.location.replace(`/${targetLang}/`);
    }
  }
  </script>
{{ end }}
