{{ define "main" }}

  {{ partial "index/hero.html" . }}

  {{ partial "index/carousel.html" . }}

  {{ partial "index/features-3-cols-icons.html" . }}

  {{ partial "index/features-3-cols-stripe.html" . }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 0 "end" 2 "swapBackgrounds" false) }}

  {{ partial "index/solution-cols.html" .Params.solutionsCards }}

  {{ partial "index/feature-cards.html" .Params.featureCards }}

  {{ partial "solution/feature-list.html" . }}

  {{ partial "newsletter" . }}

  {{ if .Params.faq }}
      {{ partial "faq.html" . }}
  {{ end }}

  {{ partial "feature/cta.html" .Site.Data.cta }}

{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.6.0/dist/css/glide.core.min.css">
{{ end }}

{{ define "scripts" }}
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

  {{ $js := resources.Get "js/scroll-reveal.js" }}
  {{ $js = $js | fingerprint }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
