{{ $cta := .cta | default . }}
{{ $context := .context }}
<section class="relative bg-primary-50 dark:bg-gray-900 border-y border-primary-100 shadow-lg overflow-hidden">
  {{ with resources.Get "images/bg-gradient.png" }}
  <img src="{{ .RelPermalink }}" alt="Background Gradient"
    class="absolute inset-0 w-full h-full object-cover object-center" style="transform: scale(1.25);">
  {{ end }}
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 relative z-10">
    <div class="mx-auto text-center">
      <h2 class="logo-font mb-4 text-5xl tracking-tight font-extrabold leading-tight text-white dark:text-white">{{ $cta.title }}</h2>
      <p class="max-w-screen-md mx-auto mb-6 font-normal text-white dark:text-gray-400 md:text-lg">{{ $cta.description }}</p>
      <a href="{{ with $context }}{{ with .Params.ctaUrl }}{{ . }}{{ else }}{{ site.Params.signupUrl }}{{ end }}{{ else }}{{ site.Params.signupUrl }}{{ end }}"
        class="inline-flex items-center text-primary-700 bg-white hover:text-white hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
        {{ with $context }}{{ with .Params.ctaText }}{{ . }}{{ else }}{{ T "startNowFree" | safeHTML }}{{ end }}{{ else }}{{ T "startNowFree" | safeHTML }}{{ end }}
        <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
</section>
