{{ $features := .context.Params.features }}
{{ $start := .start | default 0 }}
{{ $end := .end | default (len $features) }}
{{ $swapBackgrounds := .swapBackgrounds | default false }}

{{ $featureSubset := slice }}
{{ range $i, $feature := $features }}
    {{ if and (ge $i $start) (lt $i $end) }}
        {{ $featureSubset = $featureSubset | append $feature }}
    {{ end }}
{{ end }}

{{ define "feature_list" }}
    {{ $listItems := . }}
    <ul role="list" class="my-7 space-y-5">
        {{ range $listItems }}
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 mt-1.5 text-primary-600 dark:text-primary-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                <div>
                    <span class="text-base font-medium leading-tight text-gray-700 dark:text-white">{{ .title }}</span> –
                    <span class="text-base font-light leading-tight text-gray-600 dark:text-white">{{ .description }}</span>

					{{/* Render nested list if it exists */}}
					{{ with .items }}
						{{ template "feature_list" . }}
					{{ end }}
                </div>
            </li>
        {{ end }}
    </ul>
{{ end }}


{{ range $index, $feature := $featureSubset }}
{{ $isEven := eq (mod $index 2) 0 }}
{{ if $swapBackgrounds }}
    {{ $isEven = not $isEven }}  <!-- Flip the even/odd status -->
{{ end }}

{{ $imageSrc := "" }}

{{ if $feature.image }}
    {{ if $feature.image | hasPrefix "http" }}
        {{/* It's an external URL, use it directly */}}
        {{ $imageSrc = $feature.image }}
    {{ else }}
        {{/* It's a local path. Try to get it as a Page Resource first. */}}
        {{ with $.Page.Resources.GetMatch $feature.image }}
            {{/* Found as a resource (e.g., in a page bundle) */}}
            {{ $imageSrc = .RelPermalink }}
        {{ else }}
            {{/* Not found as a resource. Assume it's a global path (like from static) */}}
            {{ $imageSrc = $feature.image | absURL }}
        {{ end }}
    {{ end }}
{{ end }}

<section class="{{ if $isEven }}bg-slate-50 dark:bg-gray-900 border-y border-slate-200{{ else }}bg-white dark:bg-gray-900{{ end }}">
    <div class="py-8 px-4 mx-auto space-y-12 max-w-screen-xl lg:space-y-20 sm:py-16 lg:px-6">
        <!-- Row -->
        <div class="gap-8 items-center lg:grid lg:grid-cols-2 xl:gap-16">
            {{ if not $isEven }}
                {{ if $imageSrc }}
                  <div class="rounded-s-xl bg-[size:200%_auto] bg-top-left bg-no-repeat"
                    {{ with resources.Get "images/bg-swirl.png" }}
                      style="background-image: url('{{ .RelPermalink }}');"
                    {{ end }}>
                    <img class="p-12 hidden mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="{{ $imageSrc }}" alt="{{ with $feature.image_alt }}{{ . }}{{ else }}Feature Image{{ end }}">
                  </div>
                {{ end }}
            {{ end }}

            <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ $feature.title }}</h2>
                {{ with $feature.description }}
                    {{ range . }}
                        <p class="mb-8 font-light lg:text-xl">{{ . }}</p>
                    {{ end }}
                {{ end }}
                <!-- List -->
                {{ with $feature.points }}
                    {{ template "feature_list" . }}
                {{ end }}
                {{ with $feature.footer }}
                    {{ range . }}
                        <p class="mb-8 font-normal lg:text-xl">{{ . }}</p>
                    {{ end }}
                {{ end }}
                {{ if $isEven }}
                    <div class="flex justify-end">
                        <a href="{{ site.Params.signupUrl }}" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                            Start free now
                            <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                {{ end }}
            </div>

            {{ if $isEven }}
                {{ if $imageSrc }}
                  <div class="rounded-e-xl bg-[size:150%_auto] bg-bottom-right bg-no-repeat"
                    {{ with resources.Get "images/bg-swirl.png" }}
                      style="background-image: url('{{ .RelPermalink }}');"
                    {{ end }}>
                    <img class="p-12 hidden mb-4 w-full lg:mb-0 lg:flex rounded-lg" src="{{ $imageSrc }}" alt="{{ with $feature.image_alt }}{{ . }}{{ else }}Feature Image{{ end }}">
                  </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
