<section class="bg-gray-50 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ .title }}</h2>
          <p class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">{{ .description }}</p>
      </div>
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0">
        {{ range .cards }}
          <div class="p-6 bg-white rounded shadow dark:bg-gray-800">
              <div class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                  {{ partial "components/icons.html" (dict "icon" .icon "class" "w-8 h-8 lg:w-6 lg:h-6") }}
              </div>
              <h3 class="mb-2 text-xl font-bold dark:text-white">{{ .title }}</h3>
              <p class="font-light text-gray-500 dark:text-gray-400">{{ .description }}</p>
          </div>
        {{ end }}
      </div>
  </div>
</section>
