{{ define "main" }}

  {{/* A short landing page design for use when doing customer research */}}

  {{ partial "index/hero.html" . }}

  {{ partial "feature/two-features.html" (dict "context" . "start" 0 "end" 2) }}

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ .Params.testimonials.title }}</h2>
        </div>
        <div class="grid gap-8 lg:grid-cols-3">
            {{ range .Params.testimonials.cards }}
            <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{ .title|markdownify }}</h3>
                    <p class="my-4">{{ .quote|markdownify }}</p>
                </blockquote>
                <figcaption class="flex items-center space-x-3">
                    <img class="w-9 h-9 rounded-full" src="{{ .avatar }}" alt="profile picture for {{ .name }}">
                    <div class="space-y-0.5 font-medium dark:text-white">
                        <div>{{ .name }}</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">{{ .role }}</div>
                    </div>
                </figcaption>
            </figure>
            {{ end }}
        </div>
    </div>
  </section>

{{ end }}

{{ define "site-footer" }}
  &nbsp;
{{ end }}
