<div class="space-y-4">
  <span
          class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
    <svg aria-hidden="true" class="w-3 h-3 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
         fill="currentColor">
      <path fill-rule="evenodd"
            d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
    </svg>
    Programming
  </span>

    <h2 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        <a href="#" class="hover:underline" title="">
            {{ .Title }}
        </a>
    </h2>

    <div class="flex items-center gap-3">
        <img class="w-8 h-8 rounded-full"
             src="/images/users/michael-gough.png" alt="">
        <div class="text-lg font-medium leading-tight text-gray-900 dark:text-white">
            <div>
                {{ .Params.author | default .Site.Params.author }}
            </div>
            <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                Posted on {{ .Date |
                time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
            </div>
        </div>
    </div>

    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of
        tools that even
        influence both web designers and developers.
    </p>

    <div class="flex items-center justify-between gap-6">
        <div class="flex items-center gap-4">
            <button type="button"
                    class="inline-flex gap-1.5 items-center text-gray-500 dark:text-gray-400 hover:dark:text-white hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
                          clip-rule="evenodd"/>
                </svg>
                14 Comments
            </button>

            <button type="button"
                    class="inline-flex gap-1.5 items-center text-gray-500 dark:text-gray-400 hover:dark:text-white hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
                </svg>
                Save
            </button>
        </div>

        <a href="#" title=""
           class="inline-flex items-center text-base font-semibold leading-tight text-primary-700 hover:underline dark:text-primary-500">
            Read more
            <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>
