<section class="bg-slate-50 dark:bg-gray-900 border-y border-slate-200">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
    <img class="mb-4 w-full lg:mb-0 rounded-lg" src="{{ "/group2.jpg" | relURL }}" alt="feature image">
    <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Writes Great Content for You</h2>
      <p class="mb-8 font-normal lg:text-xl">Authorless <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">understands</span> your <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">business and audience</span> to create and publish <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">relevant content</span> to help you <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">gain new customers</span></p>
      <div class="py-8 mb-6 border-t border-gray-200 dark:border-gray-700">
        <div class="flex">
          <div class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-primary-100 dark:bg-primary-900 shrink-0">
            <svg class="w-5 h-5 text-primary-600 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Content strategy</h3>
            <p class="mb-2 font-normal text-gray-500 dark:text-gray-400">Confused by what content to create? How to mix articles, How-tos, etc? Authorless suggests a content strategy to educate and gain you new customers, <b class="font-semibold text-gray-700">no experience required</b></p>
            <a href="#" class="inline-flex items-center text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-600">
              Learn more
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </div>
        </div>
        <div class="flex pt-8">
          <div class="flex justify-center items-center mr-4 w-8 h-8 bg-purple-100 rounded-full dark:bg-purple-900 shrink-0">
            <svg class="w-5 h-5 text-purple-600 dark:text-purple-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Bulk content creation</h3>
            <p class="mb-2 font-normal text-gray-500 dark:text-gray-400"><b class="font-semibold text-gray-700">Save weeks of effort</b> filling content gaps. Generate the content your customers want, highly optimised and in bulk</p>
            <a href="#" class="inline-flex items-center text-purple-600 hover:text-purple-800 dark:text-purple-500 dark:hover:text-purple-600">
              Learn more
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </div>
        </div>
        <div class="flex pt-8">
          <div class="flex justify-center items-center mr-4 w-8 h-8 bg-teal-100 rounded-full dark:bg-teal-900 shrink-0">
            <svg class="w-5 h-5 text-teal-600 dark;text-teal-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.051 8.102-3.778.322-1.994 1.994a.94.94 0 0 0 .533 1.6l2.698.316m8.39 1.617-.322 3.78-1.994 1.994a.94.94 0 0 1-1.595-.533l-.4-2.652m8.166-11.174a1.366 1.366 0 0 0-1.12-1.12c-1.616-.279-4.906-.623-6.38.853-1.671 1.672-5.211 8.015-6.31 10.023a.932.932 0 0 0 .162 1.111l.828.835.833.832a.932.932 0 0 0 1.111.163c2.008-1.102 8.35-4.642 10.021-6.312 1.475-1.478 1.133-4.77.855-6.385Zm-2.961 3.722a1.88 1.88 0 1 1-3.76 0 1.88 1.88 0 0 1 3.76 0Z"/>
            </svg>
          </div>
          <div>
            <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Automate content updates</h3>
            <p class="mb-2 font-normal text-gray-500 dark:text-gray-400"><b class="font-semibold text-gray-700">Rocket up search rankings</b> with frequent content updates. Automatically create and publish new content. Cross-post to social media for <b class="font-semibold text-gray-700">maximum reach</b></p>
            <a href="#" class="inline-flex items-center text-teal-600 hover:text-teal-800 dark:text-teal-500 dark:hover:text-teal-600">
              Learn more
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
