<section class="bg-white dark:bg-gray-900 pt-4">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">

        <p class="uppercase text-transparent bg-clip-text bg-gradient-to-r from-teal-500 to-blue-800  font-extrabold mb-4 text-base">
            AI Content Marketing Automation</p>

        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Automate Marketing with AI</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-[22px] sm:px-16 xl:px-48 dark:text-gray-400">The <span
                class="text-highlight">fastest, easiest way</span>
            to create and manage your <span
                    class="text-highlight">content marketing</span>.
            <br/>For <span
                    class="text-highlight-secondary">marketing beginners and experts</span>.
            Save time and effort now.</p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="https://app.authorless.ai/accounts/signup/"
               class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Try now, free
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
            {{/*
            <a href="#"
               class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path>
                </svg>
                Watch video
            </a>
            */}}
        </div>
        <div class="grid gap-8 sm:gap-12 md:grid-cols-3 pt-4">
            <div class="flex justify-center">
                <svg class="w-8 h-8 mr-3 text-primary-600 dark:text-primary-500 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                          d="M14 4.182A4.136 4.136 0 0 1 16.9 3c1.087 0 2.13.425 2.899 1.182A4.01 4.01 0 0 1 21 7.037c0 1.068-.43 2.092-1.194 2.849L18.5 11.214l-5.8-5.71 1.287-1.31.012-.012Zm-2.717 2.763L6.186 12.13l2.175 2.141 5.063-5.218-2.141-2.108Zm-6.25 6.886-1.98 5.849a.992.992 0 0 0 .245 1.026 1.03 1.03 0 0 0 1.043.242L10.282 19l-5.25-5.168Zm6.954 4.01 5.096-5.186-2.218-2.183-5.063 5.218 2.185 2.15Z"
                          clip-rule="evenodd"/>
                </svg>

                <div>
                    <h3 class="mb-1 text-xl font-semibold leading-tight text-gray-900 dark:text-white">Automatically
                        write content</h3>
                    <p class="font-normal text-gray-500 dark:text-gray-400 text-lg">Other tools generate single pages.
                        Authorless writes <b>multiple webpages & social posts</b>. Boost search rankings</p>
                </div>
            </div>
            <div class="flex justify-center">
                <svg class="w-8 h-8 mr-3 text-primary-600 dark:text-primary-500 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                </svg>

                <div>
                    <h3 class="mb-1 text-xl font-semibold leading-tight text-gray-900 dark:text-white">Automatically
                        publish<span class="text-xs align-super">*</span></h3>
                    <p class="font-normal text-gray-500 dark:text-gray-400 text-lg">Stop copying and pasting. <b>Authorless
                        publishes direct</b> to your website and social media. Boost engagement</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">* Coming soon</p>
                </div>
            </div>

            <div class="flex justify-center">
                <svg class="w-8 h-8 mr-3 text-primary-600 dark:text-primary-500 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"/>
                </svg>

                <div>
                    <h3 class="mb-1 text-xl font-semibold leading-tight text-gray-900 dark:text-white">Focus on
                        strategic goals</h3>
                    <p class="font-normal text-gray-500 dark:text-gray-400 text-lg">Work at a higher level. Authorless
                        writes for your <b>audience's interests and buying journey</b>. Boost results</p>
                </div>
            </div>
        </div>
    </div>
</section>
