<section class="bg-white dark:bg-gray-900 mt-5 md:mt-8">
    <div class="gap-8 items-center py-4 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-8 lg:px-6">
        <div class="space-y-4 sm:space-y-6 lg:space-y-8">
            <div>
                <h2 class="text-3xl font-extrabold leading-tight text-gray-900 sm:text-4xl dark:text-white">
                    Your AI Marketing Superpower
                </h2>
                <p class="mt-4 text-base font-normal text-gray-500 dark:text-gray-400 sm:text-xl">
                    No marketing experience or time? Authorless delivers <span
                        class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">expert results</span>. Stop babysitting your blog and stressing your socials. Write less, do more.
                </p>
            </div>

            <div class="pt-4 border-t border-gray-200 sm:pt-6 lg:pt-8 dark:border-gray-800">
                <ul class="space-y-4">

                    {{ define "partials/index/inline-overview-tick.html" }}
                    <li class="flex items-center gap-2.5 {{ if .indented }}pl-3 md:pl-6{{ end }}">
                        <div
                                class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-primary-100 text-primary-600 shrink-0 dark:bg-primary-900 dark:text-primary-500">
                            <svg aria-hidden="true" class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <span class="text-base font-medium text-gray-900 dark:text-white">
                            {{ .text | safeHTML }}
                        </span>
                    </li>
                    {{ end }}

                    {{ $s := slice
                        (dict "text" `Set up in only <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">5 minutes</span>` "indent" false)
                        (dict "text" `<span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">Understands</span> your company, products and customers` "indent" false)
                            (dict "text" `Target multiple customer personas and offerings` "indent" true)

                        (dict "text" `Creates a <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">content strategy</span> to plan your campaign` "indent" false)
                            (dict "text" `Suggests content topics` "indent" true)
                            (dict "text" `Customisable content calendar` "indent" true)

                        (dict "text" `Automates <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">content creation</span>` "indent" false)
                            (dict "text" `Writes in your brand voice` "indent" true)
                            (dict "text" `Creates How-tos, listicles, FAQs, and more` "indent" true)
                            (dict "text" `Summarises blog posts for social media` "indent" true)
                            (dict "text" `Creates bite-sized and in-depth content (10,000+ words)` "indent" true)
                            (dict "text" `Highly search-engine optimised output` "indent" true)

                        (dict "text" `<span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">Enter new markets</span> and <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">increase sales</span> with powerful translation` "indent" false)
                            (dict "text" `Manage content in your main language` "indent" true)
                            (dict "text" `Create multiple social media posts per blog post` "indent" true)
                            (dict "text" `Translate everything into multiple languages` "indent" true)

                        (dict "text" `Supports <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">organisations and teams</span> empower your whole organisation
                    </span>` "indent" false)
                    }}
                    {{/*
                        (dict "text" `<span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">Automates publishing</span> to Wordpress and social media` "indent" false)
                            (dict "text" `Target Black Friday, Christmas, etc. automatically` "indent" true)
                            (dict "text" `Publish automatically or manually approve first` "indent" true)

                        (dict "text" `<span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">Set-and-forget mode</span> to automatically post new content
                    </span>` "indent" false)
                    */}}
                    {{ range $s }}
                    {{ partial "partials/index/inline-overview-tick.html" (dict "text" .text  "indented" .indent ) }}
                    {{ end }}
                </ul>

                <h3 class="mt-6 text-xl font-medium text-gray-500 dark:text-gray-400">
                    Authorless <span
                        class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">empowers anyone</span> to plan and automate an <span
                        class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">effective content strategy</span>, in <span
                        class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">multiple languages</span> helping you grow your business
                </h3>
            </div>
        </div>

        <img class="w-full dark:hidden pt-8 pb-4"
             src="{{ "/charts.svg" | relURL }}"
             alt="dashboard image">
    </div>

    <div class="max-w-screen-xl px-4 pb-4 mx-auto sm:pb-6 lg:pb-8">
        <div class="grid grid-cols-1 gap-8 mt-6 lg:mt-14 lg:gap-16 lg:grid-cols-2">
            <div class="hidden lg:block">
                <img class="object-cover w-full dark:hidden"
                     src="{{ "/charts2.png" | relURL }}"
                     alt="Feature illustration">
            </div>

            <div class="space-y-4 sm:space-y-6 lg:space-y-8">
                <div>
                    <h2 class="text-3xl font-extrabold leading-tight text-gray-900 sm:text-4xl dark:text-white">
                        Focus on your audience
                    </h2>
                    <p class="mt-4 text-base font-normal text-gray-500 dark:text-gray-400 sm:text-xl">
                        Authorless creates <span
                            class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">detailed customer personas</span> for you and writes content around their <span
                            class="underline underline-offset-3 decoration-4 decoration-yellow-300 dark:decoration-yellow-300">buying journey</span>.
                    </p>
                    <p class="mt-4 text-base font-normal text-gray-500 dark:text-gray-400 sm:text-xl">
                        As your customer understanding grows, simply update their profiles and Authorless will update its suggestions to keep content relevant and effective.
                    </p>
                </div>

                <div class="pt-4 border-t border-gray-200 sm:pt-6 lg:pt-8 dark:border-gray-800">
                    <ul class="space-y-4">

                        {{ $s := slice
                        (dict "text" `Marketing best-practices with <span class="underline underline-offset-3 decoration-4 decoration-blue-400 dark:decoration-blue-600">no experience</span>` "indent" false)
                        (dict "text" `Supports multiple personas and segments` "indent" false)
                        (dict "text" `Easily experiment to discover what resonates with your market` "indent" false)
                        }}
                        {{ range $s }}
                        {{ partial "partials/index/inline-overview-tick.html" (dict "text" .text  "indented" .indent ) }}
                        {{ end }}
                    </ul>
                </div>

                <div class="flex items-center gap-4">
                    <a href="https://app.authorless.ai/accounts/signup/" title=""
                       class="text-white bg-primary-700 justify-center hover:bg-primary-800 inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                       role="button">
                        Start now free
                        <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>

                    <a href="#" title=""
                       class="px-5 py-2.5 text-lg font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                       role="button">
                        Get a demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
